/* All Groups */

:root {
  --group_lists: rgba(226, 216, 252, 0.8);  /* light purple #e2d8fc */
  --cardlink: rgba(255, 255, 255, 0.9);
  --btnbg: #6c208d;       /* darkest purple */
}

#hidden-panel {
  background: transparent;
  padding: 0 15px 3px 15px;
}

.table-account {
  width: 100%;
  margin-bottom: 1rem;
}

.table-account th,
.table-account td {
  padding: 0.5rem;
}

.account-title {
  padding-top: 0.5rem;
  color: var(--btnbg);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Deposit button */
.btn-deposit {
  width: 100px;
  height: 30px;
  color: #383838;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--cardlink);
  font-size: 1rem;
  background-color: var(--btnbg);
  border: none; 
  animation-name: btn-deposit;
  animation-duration: 3s;
  animation-iteration-count:infinite;

}

.btn-deposit:hover {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
  -moz-box-shadow: 1px 1px 8px -1px rgb(63, 25, 25);
  box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
}

@keyframes btn-deposit {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  70% {
    transform: scale(1,1) translate(0px, 0px);
  }  
  75%{
    transform: scale(1,0.9) translate(0px, 10px); 
  }
  80%{
    transform: scale(1,1.1) translate(0px, -10px); 
  }
  85% {
    transform: scale(1,1) translate(0px, 0px);
  }
  90%{
    transform: scale(1,0.9) translate(0px, 10px); 
  }
  95%{
    transform: scale(1,1.1) translate(0px, -10px); 
  }
  100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}


/* Text: no post now */
.text-sm {
  font-size: 1rem;
  display: inline-block;
}

button:focus {
  outline: none;
}

section {
  z-index: 1;
}

.my-account {
  font-family: fantasy, cursive, serif;
  font-weight: bold;
  text-shadow: 3px 3px 2px white;
}

.group-list {
  max-height: 400px;
  border-radius: 10px;
  overflow-x: scroll;
  background: var(--group_lists);
  padding: 0px;
}

.group-list .row {
  min-height: 55px;
  border-radius: 5px;
  list-style-type: none;
  font-size: 1.5rem;
  padding: 20px;
}

.group-list .row:first-of-type {
  margin-top: 0;
}

.card-dec {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 200px;
  background-color: #fff;
}

.group-list .input-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Hide default checkbox*/
.group-list .input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* button */
.group-list a,
.group-list .delete-btn {
  color: #383838;
  text-align: center;
  padding: 2px 0;
  border-radius: 20px;
  text-decoration: none;
  color: var(--cardlink);
  font-size: 1rem;
  background-color: var(--btnbg);
  border: none;
}

.group-list a:hover,
.group-list .delete-btn:hover {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
  -moz-box-shadow: 1px 1px 8px -1px rgb(63, 25, 25);
  box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
}

/* unknown */
.input-container small {
  font-size: .8rem;
  line-height: .8rem;
  color: rgb(107, 104, 104);
}

.group-list .delete-modal {
  color: #505050;
}

.group-list .delete-modal .modal-body {}

.group-list .delete-model-btns button {
  background: #FFFFFF;
  padding: 2px 12px;
  border-radius: 30px;
  text-decoration: none;
  color: #505050;
  font-size: 1.2rem;
}

.group-list .delete-model-btns button:focus {
  outline: none;
}

.group-list .delete-model-btns button:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
}

.group-list .delete-model-btns #delete-model-back:hover,
.group-list .delete-model-btns #delete-model-back:active {
  color: #14A76C;
  border-color: #14A76C;
  transition: all .3s linear;
  border-style: solid;
}

.group-list .delete-model-btns #delete-model-delete:hover,
.group-list .delete-model-btns #delete-model-delete:active {
  color: #C3073F;
  border-color: #C3073F;
  transition: all .3s linear;
  border-style: solid;
}