/* All Groups */

:root {
  --bar: rgba(226, 216, 252, 0.8);
  /* light purple #e2d8fc */
  --group_lists: transparent;
  --cardlink: rgba(255, 255, 255, 0.9);
  --btnbg: #6c208d;
  /* darkest purple */
}

button:focus {
  outline: none;
}

section {
  z-index: 1;
}

.card-columns {
  max-height: 380px;
}

.all-groups {
  font-family: fantasy, cursive, serif;
  font-weight: bold;
  text-shadow: 3px 3px 2px white;
}

.card-dec {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 240px;
  background-color: #fff;
}

/* Area, Deadline, Category Bar */
#filter-panel {
  min-height: 40px;
  background: var(--bar);
  background-image: linear-gradient(#d4c6fb, #e2d8fc, #f0eafd);
  /* purple 漸層 */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#filter-panel .dropdown-menu {
  max-height: 122px;
  overflow-y: scroll;
}

.group-list {
  max-height: 400px;
  overflow-x: scroll;
  padding: 0;
}

.group-list .row {
  min-height: 55px;
  border-radius: 5px;
  list-style-type: none;
  margin: 5px 0;
  font-size: 1.5rem;
  background: var(--group_lists);
  padding: 0 5px;
}

.group-list .row:first-of-type {
  margin-top: 0;
}

.group-list .input-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Hide default checkbox*/
.group-list .input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*custom checkbox*/
.group-list .input-container .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1.1rem;
  width: 1.1rem;
  background: transparent;
  transform: translateY(-50%);
  border: 1px solid white;
}

/*background styling*/
.group-list .input-container input:checked~.checkmark {
  background-color: #3B945E;
  border: none;
  transition: all .2s linear;
}

/*checkmark styling*/
.input-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked~.checkmark:after {
  display: block;
}

.group-list a,
.group-list .delete-btn {
  color: #383838;
  text-align: center;
  padding: 2px 0;
  border-radius: 20px;
  text-decoration: none;
  color: var(--cardlink);
  font-family: "Courier New";
  font-size: 1.3rem;
  background-color: var(--btnbg);
  border: none;
}

.group-list a:hover,
.group-list .delete-btn:hover {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
  -moz-box-shadow: 1px 1px 8px -1px rgb(63, 25, 25);
  box-shadow: 1px 1px 8px -1px rgba(71, 71, 71, 1);
}

/* unknown */
.input-container small {
  font-size: .8rem;
  line-height: .8rem;
  color: rgb(107, 104, 104);
}

.group-list .delete-modal {
  color: #505050;
}

.group-list .delete-modal .modal-body {}

.group-list .delete-model-btns button {
  background: #FFFFFF;
  padding: 2px 12px;
  border-radius: 30px;
  text-decoration: none;
  color: #505050;
  font-size: 1.2rem;
}

.group-list .delete-model-btns button:focus {
  outline: none;
}

.group-list .delete-model-btns button:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 1px 1px 5px 0px rgba(227, 227, 227, 1);
}

.group-list .delete-model-btns #delete-model-back:hover,
.group-list .delete-model-btns #delete-model-back:active {
  color: #14A76C;
  border-color: #14A76C;
  transition: all .3s linear;
  border-style: solid;
}

.group-list .delete-model-btns #delete-model-delete:hover,
.group-list .delete-model-btns #delete-model-delete:active {
  color: #C3073F;
  border-color: #C3073F;
  transition: all .3s linear;
  border-style: solid;
}