body {
  position: relative;
  /* Backgroud*/
  background: url('https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: -2;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .2);
  z-index: -1;
}

/*Navbar*/
nav .new-task-btn {
  color: #505050;
  padding: 8px 12px;
  border-radius: 30px;
}

/*Login now*/
nav .log-out-btn {
  /*background: #FFFFFF;*/
  padding: 8px 12px;
  border-radius: 30px;
  text-decoration: none;
  color: #FFFFFF; /*#505050*/
}

/*Display Section*/
section#display-container {
  width: 90%;
  margin: 50px auto;
}

#display-panel {
  background: rgba(64, 64, 64, .4);
  padding: 0 15px 3px 15px;
}

#display-panel h3 {
  color: rgb(240, 240, 240);
}