/* Colors */
:root {
  /* Login */
  --mailpswd: rgb(173, 173, 173);                 /* gray */
  --mailpswdbordermouse: rgb(151, 151, 151);      /* darker gray */
  --loginbtn: #f79102;                            /* orange */
  --loginbtnword: #FFFFFF;                        /* white */
  --registerbtn: #8b8b8b;                         /* gray */
  --registermouse: #f79102;                       /* orange */
}


.card {
  background-color: rgba(255,255,255,.8);   /* white */
  max-width: 420px;
}

.card::before {
  display: block;
  content: "";
  height: 7px;
  background: linear-gradient(90deg, #965801 0%, #f79102 30%, #fec371 100%);;
  border-radius: .25rem .25rem 0 0;
}


/* (Add) Login */
.login-text-new {
  color: var(--loginbtn);
  text-shadow: 0 1px 0 var(--registerbtn);
}

/* (Add) Login */
.form-contorl-user {
  background-color: white;
}

.form-contorl-user:focus {
  background-color: #fff6ee;
}


/* Email & Password icon */
form .form-input i {
  color: var(--mailpswd);    
}

/* Email & Password border when mouse moved to it */
form .form-control:focus,
form .form-control:hover {
  box-shadow: none;
  border-color: var(--mailpswdbordermouse);
}

.was-validated .form-control:invalid, 
.form-control.is-invalid {
  background-image: none;
}

.was-validated .form-control:invalid:focus, 
.form-control.is-invalid:focus {
  box-shadow: none;
}

.was-validated .form-control:valid, 
.form-control.is-valid {
  background-image: none;
}

.was-validated .form-control:valid:focus, 
.form-control.is-valid:focus {
  box-shadow: none;
}

/* Email & Password word */

/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder { 
  color: var(--mailpswd); 
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder { 
  color: var(--mailpswd);
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder { 
  color: var(--mailpswd);
}

form .form-input i {
  position: absolute;
  top: 11px;
  left: 9;
}

form .form-input input {
  padding-left: 30px;
}

/* Login button word */
.user-form-btn {
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--loginbtnword);
  border-color: transparent;
}

.user-form-btn:hover {
  -webkit-box-shadow: 1px 1px 6px -1px rgba(71,71,71,1);
  -moz-box-shadow: 1px 1px 6px -1px rgb(63, 25, 25);
  box-shadow: 1px 1px 6px -1px rgba(71,71,71,1);
}

/* Still don't know */
.btn-facebook-blue {
  background: #3b5998;
}

.btn-facebook-blue:hover {
  color: white;
  text-decoration: none;
}

/* Login orange button */
.btn-orange {
  background: var(--loginbtn);
}

.separate-line small {
  position: absolute;
  top: 7;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
}

/* Register */
.login-signup-btn {
  padding: 2px 0;
  border-radius: 30px;
  text-decoration: none;
  color: var(--registerbtn); 
  border: 1px solid var(--registerbtn);
}

/* Register mouse moved to it */
.login-signup-btn:hover {
  text-decoration: none;
  border-color: var(--registermouse);
  color: var(--registermouse);
}

